*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background: #50b3a2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

footer a {
    color: #50b3a2;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

#projects ul {
    list-style: none;
    padding: 0;
}

#projects ul li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

#projects ul li a {
    color: #50b3a2;
    text-decoration: none;
}
#projects ul li a:hover {
    text-decoration: underline;
}
#about, #projects, #contact {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
}

#about h2, #projects h2, #contact h2 {
    margin-bottom: 10px;
}

#about p, #contact p {
    margin-bottom: 10px;
}

img {
    width: 330px;
    height: 300px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, footer, section, article {
    border-radius: 8px;
}